*.elc
/dist/
/.cask/
/.projectile
/doi-utils.org.orig
/pubmed.org.orig
/doi-utils-2.el
/org-ref.org.orig
/org-ref.html
/org-ref.bbl
/org-ref.blg
/org-ref.pdf
/org-ref.tex
/org-ref.ilg
/org-ref.ind
/org-ref.lof
/org-ref.lot
/test.bbl
/test.blg
/test.html
/test.org
/test.pdf
/test.tex
