*.elc
/.cask/
/.projectile
/.DS_Store
.DS_Store
/tests/.test-org-id-locations
log.org
/test/.test-org-id-locations
features
auto/
*.aux
*.glo
*.ist
*.lof
*.log
*.lot
*.out
*.pdf
*.synctex.gz
*.tex
*.toc
*.bbl
*.blg
*.fdb_latexmk
*.pdf
*.ilg
*.ind
*.bcf
*.fls
elpa-for-orgref
*.html
*.md
*.odf
*.odt
*.txt
*.glg
*.gls
meta.xml
styles.xml
*.run.xml
/sandbox/
*.dvi
*.docx
*.pyg
/.ipynb_checkpoints/
/examples/ltximg/
/melpa/sandbox/
